{% extends "loja/index.html" %} 
{% block title %} 
Shopping Cart
{% endblock %} 
{% block blocobody %} 
{% if lista_carrinho %}
{% for produto in lista_carrinho %}
<div class="container-md mx-auto my-5"><h1 class="text-center">Carrinho</h1></div>
<div class="container-md mx-auto">
    <ul class="list-group">
        <li class="list-group-item p-3">
            <div class="row align-items-center">
                <div class="col text-center"><img src="{{ produto.foto }}" class="rounded float-start" width="100" alt="" /></div>
                <div class="col text-center">
                    {{ produto.produto_nome }}
                </div>
                <div class="col text-center">
                    {{ produto.preco_data}}$
                </div>
                <div class="col text-end">
                    <a href="{% url 'loja:remover_carrinho' produto.id %}" class="btn btn-primary">
                        Remove</a>
                </div>
            </div>
        </li>
    </ul>

</div>
{% endfor %} 
{% else %}
<p>There are no products on shooping cart.</p>
{% endif %} 
{% endblock %}
