{% extends "loja/index.html" %}

{% block title %}
    Carrinho
{% endblock %}

{% block blocobody %}

{% if lista_carrinho %}
<p>

</p>
<ul class="common-list">
    {% for produto in lista_carrinho %}
    <li class="common-list-item">
        <a href="#">
            <img width="100" height="100" src="{{ produto.foto }}">
        </a>
        <h4>{{ produto.produto_nome }}</h4>
        <h5>{{ produto.preco_data }}</h5>
        <a href="{% url 'loja:remover_carrinho' produto.id %}" class="btn "> Remover
        </a>
    </li>

    {% endfor %}
</ul>
{% else %}
<p>Não há produtos no Carrinho.</p>
{% endif %}


{% endblock %}