{% extends "loja/index.html" %}

{% block title %}
Comment Product
{% endblock %}

{% block blocobody %}
<div class="container-md mx-auto my-5"><h1 class="text-center">Comment Product</h1></div>
<div class="container-md m-5 w-50 mx-auto">
    <form action="{% url 'loja:criar_comentario' produto_id %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="comment" class="form-label">Comment</label>
          <input type="text" class="form-control" id="comment" name="comment" placeholder="Max 100 characters">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
{% endblock %}