{% extends "loja/index.html" %}

{% block title %}
Category
{% endblock %}


{% block blocobody %}
<div class="container-fluid ">
    <div class="row">
        <div class="col">
            <div id="content" class="">
                {% if delete_category_error %}
                <div class="m-5"><h5>{{ delete_category_error }}</h5></div>
                {% endif %}
                <div class="m-5"><h5>Category: {{ categoria.categoria_nome }}</h5></div>
                <div class="row justify-content-center" style="margin-left:0px;margin-right:0px;">
                    {% if request.user.is_superuser %}
                    <div class="card" style="width: 18rem;">
                        <img src="/static/media/addProduct.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Product Name</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Price: Product Price</li>
                        </ul>
                        <div class="card-body">
                            <a href="{% url 'loja:criar_produto' categoria.id %}">Create Product</a>
                        </div>
                    </div>
                    {% endif %}
                    {% if lista_produto %}
                    {% for produto in lista_produto %}

                    <div class="card card p-1 m-2" style="width: 18rem;">
                        <img src="{{ produto.foto }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ produto.produto_nome }}</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Price: {{ produto.preco_data }}$</li>
                        </ul>
                        <div class="card-body">
                            <a href="{% url 'loja:adicionar_carrinho' produto.id %}" class="btn ">
                                <img width="35" height="35" src="{{'/static/media/shoppingcart.png'}}">
                            </a>
                            <a href="{% url 'loja:detalhe_produto' produto.id %}" type="button" class="btn btn-primary">
                                Product Details
                            </a>
                            {% if request.user.is_superuser %}
                            <a href="{% url 'loja:apagar_produto' produto.id %}">Delete Product</a>
                            <a href="{% url 'loja:editar_produto' produto.id %}">Edit Product</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    {% if not request.user.is_superuser %}
                    <div class="m-5">There are no products available.</div>
                    {% endif %}
                    {% endif %}
                </div>
                {% if request.user.is_superuser %}
                <a href="{% url 'loja:apagar_categoria' categoria.id %}">Delete Category</a>
                {% endif %}

            </div>
        </div>
        <div class="col-2">
            <nav id="sidebar">
                <div class="p-4 pt-5">
                    <h5>Categories</h5>
                    {% if lista_categoria %}
                    <ul class="list-unstyled components mb-5">
                        <li>
                            <a href="{% url 'loja:index' %}">All products</a>
                        </li>
                        {% for categoria in lista_categoria %}
                        <li>
                            <a href="{% url 'loja:detalhe_categoria' categoria.id %}">{{ categoria.categoria_nome }}</a>
                        </li>
                        {% endfor %}
                        {% if request.user.is_superuser %}
                        <li>
                            <a href="{% url 'loja:criar_categoria'%}">Create new category</a>
                        </li>
                        {% endif %}
                    </ul>
                    {% else %}
                    <p>There are no categories</p>
                    {% if request.user.is_superuser %}
                    <li>
                        <a href="criar_categoria">Create new category</a>
                    </li>
                    {% endif %}
                    {% endif %}
                </div>
            </nav>
        </div>
    </div>
</div>


{% endblock %}