{% extends "loja/index.html" %}

{% block title %}
Lista
{% endblock %}

{% block search %}
{% endblock %}

{% block blocobody %}


<div class="card mb-3" style="max-width: 1000px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ produto.foto }}" class="img-fluid rounded-start">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ produto.produto_nome }}</h5>
                <p class="card-text">Description: {{ produto.produto_texto }}</p>
                <p class="card-text">Price: {{ produto.preco_data }}$</p>
                <a href="{% url 'loja:adicionar_carrinho' produto.id %}" class="btn ">
                    <img width="35" height="35" src="{{'/static/media/shoppingcart.png'}}">
                </a>
                {% if request.user.is_superuser %}
                <a href="{% url 'loja:apagar_produto' produto.id %}">Delete Product</a>
                <a href="{% url 'loja:editar_produto' produto.id %}">Edit Product</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}


