{% extends "loja/index.html" %}

{% block title %}
    Criar Utilizador
{% endblock %}

{% block blocobody %}

<h1>Novo Utilizador:</h1>
{% load static %}
<form action="registo" enctype="multipart/form-data" method="post">
    {% csrf_token %}
        <label>Username:</label>
        <input type="text" name="username" id="username" value="" /> <br>
        <label>Password:</label>
        <input type="password" name="pass" id="pass" value="" /><br>
        <label>E-mail:</label>
        <input type="text" name="email" id="email" value="" /><br>
        <label>Curso:</label>
        <input type="text" name="curso" id="curso" value="" /><br>
        <br>
        <input name="myfile" type="file"> <br>
        <br>
        <input type="Submit" value="Registar" /><br>
</form>

    <br>
<p>
    x
</p>
        <br><br>
<p>
    x
</p>
        <br><br>
<p>
    x
</p>
        <br><br>
<p>
    x
</p>
        <br><br>
<p>
    x
</p>
        <br><br>
<p>
    x
</p>
        <br><br>
<p>
    x
</p>
        <br><br>
<p>
    x
</p>
        <br>
{% endblock %}


