{% extends "loja/index.html" %}

{% block title %}
    Criar Utilizador
{% endblock %}

{% block blocobody %}

<div class="container-md mx-auto my-5"><h1 class="text-center">Criar Utilizador</h1></div>
{% load static %}
<!-- <form action="registo" enctype="multipart/form-data" method="post">
    {% csrf_token %}
        <label>Username:</label>
        <input type="text" name="username" id="username" value="" /> <br>
        <label>Password:</label>
        <input type="password" name="pass" id="pass" value="" /><br>
        <label>E-mail:</label>
        
        add first name
        add last name
        
        <input type="text" name="email" id="email" value="" /><br>
        <label>Curso:</label>
        <input type="text" name="curso" id="curso" value="" /><br>
        <br>
        <input name="myfile" type="file"> <br>
        <br>
        <input type="Submit" value="Registar" /><br>
</form> -->

<div class="container-md m-5 w-50 mx-auto">
    <form action="registo" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" name="email">
          </div>
        <div class="mb-3">
          <label for="pass" class="form-label">Password</label>
          <input type="password" class="form-control" id="pass" name="pass">
        </div>
        <div class="mb-3">
            <label for="curso" class="form-label">Curso</label>
            <input type="text" class="form-control" id="curso" name="curso">
          </div>
          <div class="mb-3">
            <label for="myfile" class="form-label">Inserir foto</label>
            <input class="form-control" type="file" id="myfile">
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>


{% endblock %}


